

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d1b2a;
}

/* NAVIGATION */
nav {
  background: #222;
  padding: 10px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}
nav ul li a {
  color: rgb(207, 206, 223);
  text-decoration: none;
  padding: 6px 10px;
}
nav ul li a:hover {
  background: #444;
  border-radius: 4px;
}

/* PAGE LAYOUT */
.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 20px 0;
}

h1, h2, h3 {
  color: #333;
}

.card {
  background: rgb(191, 225, 247);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: #333;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
table, th, td {
  border: 1px solid #000000;
}
th, td {
  padding: 8px;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}
.gallery img {
  width: 100%;
  border-radius: 6px;
}

/* FOOTER */
footer {
  text-align: center;
  color: white;
  background: #222;
  padding: 10px;
  margin-top: 20px;
}